.upload-btn {
    border-radius: 18px !important;
}
.input-group {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-body {
    width: 100%;
}
.input-group > div {
    width: 100% !important;
}